In [1]:
lst1 = [1, 8, 9, 0, 10, 20, 78, 8, 8, 8]

s2 = set(lst1)
print(s2)
print(type(s2))

dir(set)

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [3]:
##union operation using / operator
s1 = {1,2,3,4,}
s2 = {5,6,7,8}

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
##intersection operation using & operator
s1 = {1,2,3,4,}
s2 = {3,4,7,8}

s1 & s2

{3, 4}

In [7]:
#differnce of two sets
s1 = {1,2,5,6,7}
s2 = {5,6,7}

s1 - s2

s2 - s1

set()

In [9]:
## symmetric difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1 = {1,2,3,4,5}
s2 = {1,2,3}

s2.issubset(s1)

s2.issuperset(s1)

str1 = "welcome to aiml class"
print(str1)
str2 = 'welcome to python class'
print(str2)
str3 = '''This is an awesome class'''
print(str3)

print(type (str1))
print(type (str2))
print(type (str3))

welcome to aiml class
welcome to python class
This is an awesome class
<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
#slicing in strings
print(str1)
str1[5:10]

welcome to aiml class

'me to'

In [13]:
#use of split()
print(str1)
str1.split()

welcome to aiml class

['welcome', 'to', 'aiml', 'class']

In [15]:
#use of join() method
reviews = ["The prodcut is awesome","Great service"]
joined_string = ",".join(reviews)
joined_string

'The prodcut is awesome,Great service'

In [17]:
#use of strip() method
str5 = "   Hello,How are you?    "
str5

str5.upper()

'   HELLO,HOW ARE YOU?    '